.contact {
    margin-top: rem(100px);
    margin-bottom: 20%;
    @include for-normal-layout {
        margin-bottom: 40% !important;
    }
    @include for-tablet-layout {
        margin-bottom: 50% !important;
    }
    @include for-mobile-layout {
        margin-bottom: 80% !important;
        form {
            width: rem(300px) !important;
        }
      }

 
    h1{
        border-bottom: 5px solid $clr5;
        font-weight: 600;
    }
    span{
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: 550;
        color: $clr5;
        text-align: center;
    }

    form {
       margin-top: rem(50px);
       width: rem(500px);
        gap: 8px;
        
        input {
            border-radius: 12px;
            height: 30px;
            font-size: 1rem;
            padding-left: 5px;
        }
        input::placeholder {
            padding-left: 5px;
        }
        textarea{
            resize: none;
            padding-left: 5px;
        }
        textarea::placeholder {
            padding-left: 5px;
        }
        input,textarea{
            color:rgba(255, 255, 255, 0.719);
            font-size: 1rem;
            font-weight: 600;
            background: $clr5;
        }
        input,textarea:focus-visible{
           outline: none;

        }

        textarea{
            border-radius: 8px;
            height: 150px;
        }
        button{
            background-color:  $clr5;
            width: 80px;
            color: rgb(252, 248, 248);
            font-size: 1rem;
            font-weight: 550;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;
            
        }
        button:hover{          
            transform: rotate(360deg);
            transition: all 1s;
        }
    }

}