.footer {
    padding: 15px;
    background-color: $clr5;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 10px;
    .sociel-container{
        gap: 20px;
    img{
        width: rem(35px);
        cursor: pointer;
        filter: grayscale(80%);
    }
}
span{
    color: #fff;
}
}